@inject IScoreService scoreService

<div id="score-upload-container">
    <button id="close-upload-button" class="btn game-button" type="button" @onclick=@(() => callback(-1))>X</button>
    <h3>Upload: @info.appID </h3>
    <p>High Score: @info.scoreValue</p>
    <p>Date: @info.runStart</p>
    <p>Time: @info.runLength.ToString("mm\\:ss")</p>
    <EditForm Model="@info" OnValidSubmit=uploadScore >
        <DataAnnotationsValidator />
        <p>
            <label>
                Nickname: 
                <InputText @bind-Value="info.nickname" />
            </label>
        </p>
        <button type="submit" id="submit-upload-button" class="btn game-button" >OK</button>
    </EditForm>
</div>



@code {
    [Parameter] public Score info { get; set; }
    [Parameter] public Action<int> callback { get; set; }

    private async Task uploadScore()
    {
        var newID = await scoreService.setScore(info);
        callback(newID);
    }
}
